:root{
    --left1:600px;
    --left2:810px;
    --left3:1020px;
    --left4:1230px;
    
}
html{
    background-color: rgb(255, 255, 255);
}
#bird{
    background-color: rgb(192, 115, 115);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 300px;
    left: 208px;    
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 48px; 
}
#level{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 48px; 
}

#obstacle1{
    background-color: rgb(0, 0, 0);
    height: 160px;
    width: 45px;
    position: absolute;
    top: 112px;
    left: var(--left1);
}
#obstacle2{
    background-color: rgb(0, 0, 0);
    height: 160px;
    width: 45px;
    position: absolute;
    top: 440px;
    left: var(--left1);
}
#obstacle3{
    background-color: rgb(0, 0, 0);
    height: 117px;
    width: 45px;
    position: absolute;
    top: 112.5px;
    left: var(--left2);
}
#obstacle4{
    background-color: rgb(0, 0, 0);
    height: 226px;
    width: 45px;
    position: absolute;
    top: 374px;
    left: var(--left2);
}
#obstacle5{
    background-color: rgb(0, 0, 0);
    height: 180px;
    width: 45px;
    position: absolute;
    top: 112px;
    left: var(--left3);
}
#obstacle6{
    background-color: rgb(0, 0, 0);
    height: 160px;
    width: 45px;
    position: absolute;
    top: 440px;
    left: var(--left3);
}
#obstacle7{
    background-color: rgb(0, 0, 0);
    height: 140px;
    width: 45px;
    position: absolute;
    top: 112px;
    left: var(--left4);
}
#obstacle8{
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 45px;
    position: absolute;
    top:400px;
    left: var(--left4);
}
.line{
    background-color: rgb(0, 0, 0);
    height: 12px;
    width: 100%;
    position: absolute;
    top: 600px;
    left: 0px;
    margin: 0px;
}


